.pomodoro-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    font-family: "Iosevka Charon Mono", monospace;
    font-size: 48px;
    color: var(--title);
    font-weight: normal;
}

.subtitle {
    font-family: "Iosevka Charon Mono", monospace;
    font-size: 15px;
    color: var(--text);
    margin-top: 8px;
}

.timer {

    font-family:"Jomhuria", cursive;

    font-size:120px;

    color:var(--text);

}

.start-button {

    margin-top: -55px;

    width: 150px;

    height: 55px;

    border: none;

    border-radius: 30px;

    background: var(--primary);

    font-family: "Jomhuria", cursive;

    font-size: 60px;

    line-height: 1;

    color: white;

    cursor: pointer;

    transition: 0.2s ease;

    position: relative;
    
    z-index: 2;

}

.start-button:hover,
.secondary-button:hover,
.add-mission:hover,
.customize-button:hover {

    transform: translateY(-2px);

    opacity: 0.95;

}

/* components.css */

.session-info {

    margin-top: 40px;

    display: flex;

    flex-direction: column;

    align-items: center;

}


.session-title {

    margin: 0;

    font-family: "Iosevka Charon Mono", monospace;

    font-size: 20px;

    color: var(--text);

    text-align: center;

}

.control-buttons {

    display:flex;

    gap:12px;

}

.secondary-button {

    width:150px;

    height:50px;

    border:none;

    border-radius:25px;

    background:var(--primary);

    font-family:"Jomhuria", cursive;

    font-size:40px;

    color:white;

    cursor: pointer;

}

.customize-button {

    margin-top:15px;

    width:312px;

    height:50px;

    border:none;

    border-radius:25px;

    background:#ECD6BB;

    font-family:"Jomhuria", cursive;

    font-size:40px;

    color:#59412D;

    cursor: pointer;

}

.controls {

    display:flex;

    flex-direction:column;

    align-items:center;

    margin-top:30px;

}

.mascot-content {

    position:relative;

    height:100%;

}

.mascot-header {

    position: absolute;

    top: 30px;

    left: 35px;

}
/* Título */

.mascot-header h2 {

    font-family:"Iosevka Charon Mono", monospace;

    font-size:32px;

    font-weight:normal;

    color:var(--text);

    margin:0;

}


.mascot-header p {

    font-family:"Iosevka Charon Mono", monospace;

    font-size:15px;

    color:var(--text);

}



/* Nori */

.cat-area {

    position:absolute;

    right:-150px;

    top:-20px;

    text-align:center;

}


.cat-area h3 {

    font-family:"Iosevka Charon Mono", monospace;

    font-size:32px;

    font-weight:normal;

    color:var(--text);

    margin-top:50px;

    margin-bottom:-20px;

}


.cat-area img {

    width:650px;

}



/* Nível */

.mascot-level {

    position:absolute;

    left:30%;

    top:150px;

    transform:translateX(-50%);

    text-align:center;

}


.mascot-level h3 {

    font-family:"Iosevka Charon Mono", monospace;

    font-size:32px;

    font-weight:normal;

    color:var(--text);

}



/* Barra de progresso */

.progress-bar {

    width:350px;

    height:15px;

    background:#E8DFC9;

    border-radius:20px;

    overflow:hidden;

}


.progress-fill {

    width:70%;

    height:100%;

    background:#939C6E;

    border-radius:20px;

}



/* Frase */

.mascot-message {

    position:absolute;

    bottom:35px;

    left:30%;

    transform:translateX(-50%);

    width:386px;

    padding:15px;

    background:#ECD6BB;

    border-radius:20px;

    text-align:center;

    font-family:"Iosevka Charon Mono", monospace;

    color:black;

}

.missions-header h2{

    font-family:"Iosevka Charon Mono", monospace;

    font-size:32px;

    font-weight: normal;

    color:var(--text);

    margin:0;

    line-height:1;

}

.missions-header p{

    font-family:"Iosevka Charon Mono", monospace;

    font-size:15px;

    color:var(--text);

    margin-top:8px;

}

.missions-list{

    margin-top:35px;

    display:flex;

    flex-direction:column;

    gap:20px;

}

.mission{

    display:flex;

    align-items:center;

    gap:15px;

    font-family:"Iosevka Charon Mono", monospace;

    font-size:20px;

    color:var(--text);

}

.mission input{

    width:22px;

    height:22px;

    accent-color:var(--primary);

}

.add-mission{

    margin-top:35px;

    width:100%;

    height:50px;

    border:none;

    border-radius:20px;

    background:#ECD6BB;

    font-family:"Jomhuria", cursive;

    font-size:36px;

    color:var(--text);

    cursor:pointer;

    transition: 0.2s ease;

}

.environment-header{

    text-align:center;

}

.environment-header h2{

    font-family:"Iosevka Charon Mono", monospace;

    font-size:32px;

    font-weight:normal;

    color:var(--text);

    margin:0;

}

.environment-header p{

    font-family:"Iosevka Charon Mono", monospace;

    font-size:15px;

    color:var(--text);

    margin-top:8px;

}

.environment-buttons {

    display: flex;

    justify-content: space-between;

    gap: 10px;

    margin-top: 30px;

}

.environment-button {

    width: 95px;
    height: 124px;

    border: none;
    border-radius: 20px;

    background: #ECD6BB;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Iosevka Charon Mono", monospace;
    font-size: 16px;
    color: var(--text);

    cursor: pointer;
    transition: .2s;

}

.environment-button:hover{

    transform:translateY(-2px);

}

.volume-control{

    margin-top:28px;

    display:flex;

    flex-direction:column;

    gap:10px;
    

}

.volume-control label{

    font-family:"Iosevka Charon Mono", monospace;

    font-size:20px;

    color:var(--text);

}

.volume-control input {

    width: 100%;

    appearance: none;
    -webkit-appearance: none;

    height: 8px;

    border-radius: 10px;

    outline: none;

    background: linear-gradient(
        to right,
        #939C6E 0%,
        #939C6E 50%,
        #C9D0AE 50%,
        #C9D0AE 100%
    );

}

.volume-control input::-webkit-slider-thumb {

    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: #939C6E;

    cursor: pointer;

}

.environment-button img {

    width: 85px;
    height: auto;

}

.ocean-icon {
    margin-top: 15px;
}

/* Modal */

.modal {

    display: none;

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,.35);

    justify-content: center;

    align-items: center;

    z-index: 1000;

}

.modal-content {

    width: 420px;

    background: var(--card);

    border-radius: 25px;

    padding: 35px;

    box-shadow: var(--shadow);

}

.modal-content h2 {

    font-family: "Iosevka Charon Mono", monospace;

    font-size: 32px;

    font-weight: normal;

    color: var(--text);

    text-align: center;

    margin-bottom: 30px;

}

.modal-content p {

    font-family: "Iosevka Charon Mono", monospace;

    font-size: 18px;

    color: var(--text);

    margin-top: 20px;

    margin-bottom: 8px;

}

.modal-content input {

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 15px;

    background: #ECD6BB;

    font-size: 18px;

    color: var(--text);

    box-sizing: border-box;

}

.modal-buttons {

    display: flex;

    justify-content: space-between;

    gap: 15px;

    margin-top: 35px;

}

.cycle-info {

    margin-top: 6px;

    margin-bottom: 0;

    font-family: "Iosevka Charon Mono", monospace;

    font-size: 16px;

    color: var(--text);

    text-align: center;

}

.modal-button {

    flex: 1;

    height: 55px;

    border: none;

    border-radius: 18px;

    font-family: "Jomhuria", cursive;

    font-size: 36px;

    cursor: pointer;

    transition: .2s;

}

.save-button {

    background: #939C6E;

    color: white;

}

.cancel-button {

    background: #C75C5C;

    color: white;

}

.modal-button:hover {

    transform: translateY(-2px);

    opacity: .95;

}

.start-button:disabled {

    opacity: 0.6;

    cursor: not-allowed;

}

.end-session-button {

    display: none;

    margin-top: 15px;

    width: 312px;

    height: 50px;

    border: none;

    border-radius: 25px;

    background: #C75C5C;

    color: white;

    font-family: "Jomhuria", cursive;

    font-size: 36px;

    cursor: pointer;

    transition: .2s;

}

.end-session-button:hover {

    transform: translateY(-2px);

    opacity: .95;

}
